{% macro pageNavSection(sectionData, slug, path, editMode) %}

    {% import "/common/components/data.html.twig" as data %}

    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="nav page-nav list-inline">
                    {% for i,link in sectionData.links %}
                        <li>{{ data.a(link, slug, path ~ '.links.' ~ i, editMode, {'class': 'scrollto'}) }}{{ data.removeElementButton(path ~ '.links.' ~ i, slug, editMode) }}</li>
                    {% endfor %}
                    {{ data.addElementButton(path ~ '.links', slug, editMode, "Добавить ссылку") }}
                    {{ data.removeElementBigButton(path, slug, editMode, "Удалить компонент") }}
                </ul><!--//page-nav-->

            </div>
        </div><!--//page-nav-wrapper-->
    </div><!--//page-nav-space-holder-->
{% endmacro %}