{% extends '/templates/' ~ template ~ '/structure/head.html.twig' %}

{% block body %}

    <div class="container" style="margin-top: 180px;">
        <div class="row">
            <div class="col-sm-12">
                Тут будет админка
            </div>
        </div>
    </div>

{% endblock %}