{% extends '/templates/' ~ template ~ '/structure/head.html.twig' %}

{% import '/templates/startup-kit/components/admin.html.twig' as admin %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/plugins/admin/admin.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div style="margin-top: 150px; margin-bottom: 50px;">
        {{ admin.admin(editMode) }}
    </div>

{% endblock %}