{% extends '/templates/' ~ template ~ '/structure/head.html.twig' %}

{% import '/common/components/admin.html.twig' as admin %}

{% block body %}

    <div style="margin-top: 150px; margin-bottom: 50px;">
        {{ admin.admin(editMode, pages) }}
    </div>

{% endblock %}