@charset "utf-8";
/* CSS Document */

@media (min-width:320px and max-width:480px){
		
.slider-h2{
		font-size:30px;
}
		
}

@media (min-width:481px and max-width:767px){

.slider-h2{
		font-size:40px;
}		
		
		
}

@media (min-width:768px and max-width:1024px){

.slider-h2{
		font-size:48px;
}
.welc-h3{
	font-size:25px;
}
	
}

@media (min-width:1024px and max-width:1199px){

.slider-h2{
		font-size:54px;
}	
	
}