.fancybox-slide--iframe .fancybox-content {
    /*width  : 800px;*/
    height : 600px!important;
    max-width  : 80%;
    max-height : 80%;
    margin: 0;
}

.images {
    margin-top: 10px;
    white-space: nowrap;
    height: 100px;
}

.images img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.carousel-image-thumb {
    position: relative;
}

.carousel-image-thumb .remove-button {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 7px;
    font-size: 26px;
    width: 26px;
    height: 26px;
    display: inline-block;
}

.bs-example-modal {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bs-example-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}

input.edit {
    background: none;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.5);
    max-width: 100%;
}

.input-buffer {
    position: absolute;
    top: -1000px;
    left: -1000px;
    visibility: hidden;
    white-space: nowrap;
}

.career-page .heading-section, .career-page.heading-section {
    padding-top: 180px;
}