{% extends '/templates/' ~ template ~ '/structure/head.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/plugins/admin/admin.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 180px;">
        <div class="row">
            <div class="col-sm-12">
                Панель авторизации
            </div>
        </div>
    </div>

{% endblock %}