{% extends '/layout/services.html.twig' %}

{% set id = 1 %}

{% set title = "Замена труб водоснабжения" %}

{% set price = "3 500" %}

{% block text %}

    <p>Компания «Самарская водопроводная компания» предлагает услуги по монтажу и замене водопроводных труб в квартире, доме, а так же производственных помещениях.</p>

    <p>Мы производим качественный монтаж водопроводных труб, используя современные качественные материалы и оборудование.</p>

    <p>Используя материалы проверенные не только сертификатами качества, но и временем, мы гарантируем безотказную работу наших систем водопровода в течении многих лет.</p>

    <p>Для монтажа водопровода используются полипропиленовые трубы и фитинги таких известных фирм как Pilsa, Firat, Kalde. Продукция представленных выше фирм хорошо зарекомендовала себя в процессе эксплуатации, именно поэтому для замены труб в квартирах в Самары мы используем материалы данных производителей.Мы уверены в качестве предоставляемых услуг и даём гарантию на выполненную работу сроком на 36 месяцев.</p>

    <p>Цена на замену труб водоснабжения в каждом конкретном случае рассчитывается индивидуально.Для максимально точного рассчета стоимости, рекомендуем вызвать специалиста нашей компании, для осмотра, рассчета и консультации, на место проведения ремонтных работ.Специалисты нашей компании смогут не только произвести рассчет стоимости работ по замене труб водоснабжения, а так же смогут дать рекомендации по выбору сантехники.</p>

    <p>ВЫЗОВ СПЕЦИАЛИСТА нашей компании в черте города БЕСПЛАТНЫЙ.</p>

    <p>Минимальная стоимость работ по замене водопроводных труб составляет 3 500 руб.Основной нашей задачей является качество для конечного потребителя, поэтому мы не стремимся уменьшить стоимость проводимых работ, используя дешевые материалы или некачественное оборудование.</p>

    <p>Да возможно у нас не самые низкие цены в городе, мы и не стремимся к низким ценам, мы стремимся к тому чтобы в Вашей жизни было больше времени для приятных моментов, а не решения проблем с некачественной сантехникой.А экономить или нет, здесь уже выбор за Вами :) ТЕЛ. 221-03-39</p>

{% endblock %}