{% extends '/layout/services.html.twig' %}

{% set id = 10 %}

{% set title = "Установка унитаза" %}

{% set price = "1 250" %}

{% block text %}

    <p>«Самарская Водопроводная Компания» предлагает услуги по установке унитазов в Самаре. Мы производим профессиональную установку унитазов в квартирах, частных домах, офисных и производственных помещениях.</p>
    <p>Вам необходима установка унитаза? Настенного или напольного?Звоните мы поможем.Работая на рынке сантехнических услуг с 2008 года мы хорошо зарекомендовали себя как надежные исполнители всех видов сантехнических работ. Доверяя установку унитаза специалистам нашей компании, вы будете уверены в том что ваше сантехническое оборудование прослужит вам долгие годы.</p>
    <p>На все выполненные работы, мы предоставляем гарантию, сроком на 36 месяцев. Мы производим установку унитазов всех видов, независимо от типа и фирмы производителя. Если вам необходимо произвести замену старого унитаза на новый, вы так же можете обратиться к нам, мы вам поможем. Стоимость услуг по установке унитаза составляет 1 250 руб. Данная цена не является окончательной и может быть увеличена в зависимости от сложности монтажа и типа оборудования, установку которого необходимо произвести.Для точного расчета стоимости работ, необходимо пригласить специалиста нашей компании на объект где необходимо произвести работы.</p>
    <p>Выезд специалиста для оценки и расчета стоимости в черте города Самары, бесплатный, все что необходимо сделать это позвонить по телефону 221-03-39 и оставить заявку.</p>
    <p>Так же специалисты нашей компании могут посоветовать какой унитаз вам лучше приобрести в конкретно вашем случае.Если у вас остались вопросы можете задать их нам по телефону 221-03-39.</p>
    <p>Звоните и заказывайте установку унитаза в  «Самарской Водопроводной Компании» и ваша сантехника будет служить вам долгие годы.</p>

{% endblock %}