{% extends '/layout/services.html.twig' %}

{% set id = 11 %}

{% set title = "Установка мойки и раковины" %}

{% set price = "950" %}

{% block text %}

    <p>Самарская Водопроводная Компания» оказывает услуги по установки моек в Самаре. Мы производим профессиональную установку моек из камня, металла, искуственного камня и других видов моек.</p>
    <p>Если Вам необходимо произвести установку мойки на кухне, вы можете обратиться в нашу компанию.Специалисты нашей компании приедут и произведут профессиональный монтаж мойки в вашей квартире, доме или офисе. Стоимость установки стандартной кухонной мойки составляет 950 руб. данная цена не является окончательной и может быть увеличена в зависимости от типа устанавливаемого оборудования или сложности монтажа. Для более точного расчета стоимости, необходимо пригласить специалиста нашей компании на объект, где необходимо произвести сантехнические работы.</p>
    <p>Вызов специалиста компании «СВК-24» в черте города Самары - бесплатный, все что необходимо сделать, это позвонить по телефону 221-03-39 и оставить заявку. Специалист нашей компании приедет и бесплатно оценит стоимость необходимых работ, а так же посоветует какое сантехническое оборудование лучше приобрести.</p>
    <p>На все выполненные работы мы предоставляем гарантию сроком на 36 месяцев.Звоните и заказывайте установку мойки в  «Самарской Водопроводной Компании » и ваша сантехника будет служить вам долгие годы.</p>

{% endblock %}