{% extends '/layout/services.html.twig' %}

{% set id = 12 %}

{% set title = "Отопление частных домов и коттеджей" %}

{% block text %}

    <p>Самарская Водопроводная Компания» предлагает услуги по разработке и монтажу систем отопления для коттеджей и частных домов в Самаре.Мы производим профессиональный монтаж и установку систем автономного отопления коттеджей, частных домов и производственных помещений.</p>
    <p>Нужна система отопления? Просто позвоните нам по телефону 221-03-39 и оставьте заявку. Специалисты нашей компании приедут и бесплатно оценят необходимый фронт работ, а так же помогут с выбором отопительного оборудования.Вызов специалиста нашей компании в черте города Самары - бесплатный. Все что необходимо сделать, это просто позвонить и оставить заявку.</p>
    <p>Для монтажа систем отопления мы используем качественные материалы, хорошо зарекомендовавшие себя в процессе работы и эксплуатации. На все выполненные работы мы предоставляем гарантию сроком на 36 месяцев.</p>
    <p>Стоимость монтажа системы отопления в каждом конкретном случае рассчитывается индивидуально, и зависит от многих факторов, таких как используемые материалы, сложность монтажа, какие-либо особые пожелания.</p>
    <p>Отопление коттеджа под ключ от компании «СВК24.РФ» это качественная система отопления загородного дома за адекватную цену. Звоните и заказывайте монтаж системы отопления в  «Самарскую Водопроводную Компанию» и в вашем доме всегда будет тепло и уютно.</p>

{% endblock %}