{% extends '/layout/services.html.twig' %}

{% set id = 13 %}

{% set title = "Установка и подключение стиральных машин" %}

{% set price = "800" %}

{% block text %}

    <p>«Самарская водопроводная компания» оказывает услуги по подключению и установки стиральных машин в Самаре. Мы производим профессиональную установку и подключение стиральных машин к водопроводу и системе канализации, в квартирах, частных домах и производственных помещениях.Все работы по подключению и установке производят высококвалифицированные специалисты нашей компании. Если Вам необходимо установить стиральную машину на кухне или в ванной, в квартире или в частном доме, вы можете заказать установку стиральной машинки в нашей компании.</p>
    <p>Для осуществления заказа достаточно позвонить нам по телефону 221-03-39 и оставить заявку. Специалисты нашей компании приедут и бесплатно оценят фронт необходимых работ, а так же посоветуют какое сантехническое оборудование лучше использовать в вашем случае.</p>
    <p>Сколько стоит установка стиральной машины? Цена на установку может зависить от многих факторов и пожеланий клиента. Стандартная стоимость установки стиральной машины составляет 800 рублей. В данную стоимость входит установка стиральной машины к уже имеющимся системам водоснабжения и системе канализации. Если в вашей квартире не установлен кран для забора воды и не смонтирован слив в канализацию, в этом случае стоимость установки составит 1 400 рублей.</p>
    <p>Стоимость материалов необходимых для подключения стиральной машины оплачивается отдельно.На все выполненные работы, мы предоставляем гарантию сроком на 36 месяцев. Звоните и заказывайте установку стиральной машины в  «Самарской Водопроводной Компании», и в вашем доме станет немного уютнее.</p>

{% endblock %}