{% extends '/layout/services.html.twig' %}

{% set id = 14 %}

{% set title = "Установка и подключение посудомоечных машин" %}

{% set price = "1 400" %}

{% block text %}

    <p>«Самарская Водопроводная Компания» оказывает услуги по установке и подключению посудомоечных машин в Самаре. Мы производим профессиональную установку и подключение посудомоечных машин в квартирах, домах и организациях общепита.</p>
    <p>Нужна установка посудомоечной машины? Звоните нам, мы поможем. Специалисты нашей компании произведут профессиональную установку и подключение посудомоечной машины к водопроводу и системе канализации.</p>
    <p>Вам необходимо просто позвонить по телефону 221-03-39 и оставить заявку. Все работы по подключению и установке проводят высококвалифицированные специалисты «Самарской Водопроводной Компаниин». На все выполненные работы мы предоставляем гарантию сроком на 36 месяцев.</p>
    <p>Сколько стоит установка посудомоечной машины? Стандартная установка посудомоечной машины составляет 1400 рублей. В данную стоимость включена установка посудомоечной машины, подключение к системе водоснабжения и канализации.</p>
    <p>Стоимость материалов необходимых для подключения посудомоечной машины оплачивается отдельно. Окончательная цена за полную установку посудомоечной машины (с учётом материалов) составляет 1700-2100 руб. и зависит от количества и качества необходимых комплектующих.</p>
    <p>Заказывая установку в «Самарской Водопроводной Компании» Вы будете уверены что ваша посудомоечная машина прослужит Вам долгие годы.</p>
    <p>Звоните и заказывайте установку посудомоечной машины в «Самарской Водопроводной Компании» и в вашем доме станет немного уютнее.</p>

{% endblock %}