{% extends '/layout/services.html.twig' %}

{% set id = 2 %}

{% set title = "Замена стояков водоснабжения" %}

{% set price = "1 000" %}

{% block text %}

    <p>«Самарская водопроводная компания» оказывает услуги по замене стояков водоснабжения в квартирах, домах и производственных помещениях.</p>

    <p>Для замены стояков водоснабжения мы используем современные полипропиленовые трубы известных фирм производителей, таких как Pilsa, Valtec, Firat, Kalde.Продукция данных производителей хорошо зарекомендовала себя в работе и процессе эксплуатации, именно поэтому мы используем трубы представленных фирм.</p>

    <p>Основной причиной по которой приходится производить замену стояков ХВС и ГВС, чаще всего является сильный износ труб.</p>

    <p>Несмотря на то что данной проблемой должна заниматься управляющая компания вашего дома, и производить замену стояков холодной и горячей воды абсолютно бесплатно, на практике такое происходит очень редко и является скорее исключением, нежели правилом.Именно поэтому собственникам жилья приходиться решать данный вопрос самостоятельно, и обращаться в организации, производящие замену сантехнического оборудования.</p>

    <p>Работая на рынке сантехнических услуг уже более 7 лет, мы готовы предложить своим клиентам качественную замену стояков водопровода старых труб на новые, полипропиленовые.</p>

    <p>В отличие от старых металлических труб, полипропиленовые трубы обладают рядом преимуществ таких как:повышенная износостойкостьполипропилен более эластичен (за счет чего снижается вероятность механического повреждения)пластиковы трубы не магнитятся (благодаря чему, не "зарастают" грязью изнутри)имеют более привлекательный внешний видне подвергаются коррозии (в отличие от металлических)Такие трубы прослужат значительно дольше при одинаковых условиях эксплуатации.</p>

    <p>Стоимость замены труб стояков в каждом конкретном случае рассчитывается индивидуально, после осмотра объекта на котором необходимо произвести работы.</p>

    <p>Основным критерием из которого рассчитывается цена на замену стояка, является диаметр трубы и сложность монтажа в каждом конкретном случае.</p>

    <p>Для более точного рассчета стоимости работ по замене стояков водоснабжения, рекомендуем пригласить специалиста нашей компании для осмотра и оценки объекта, где необходимо выполнить работы.</p>

    <p>Вызов специалиста абсолютно бесплатный, все что необходимо сделать это позвонить и оставить заявку.На все выполненые работы, мы предоставляем гарантию сроком 36 месяцев.</p>

    <p>Если у Вас появились дополнительные вопросы, мы всегда готовы ответить на них по телефону.Звоните и заказывайте услуги по замене стояков водоснабжения в  «Самарской водопроводной компании» и Вы получите качественное исполнение заказа в срок.</p>

{% endblock %}