{% extends '/layout/services.html.twig' %}

{% set id = 5 %}

{% set title = "Замена труб канализации" %}

{% set price = "1 000" %}

{% block text %}

    <p>Самарская Водопроводная Компания» оказывает услуги по замене труб канализации в квартирах, домах, производственных и офисных помещениях.</p>
    <p>Для замены труб канализации мы используем современные пластиковые трубы, которые в отличие от старых чугунных труб, имеют более привлекательный внешний вид, и увеличенный срок службы.</p>
    <p>Стоит так же отметить что пластиковые трубы не «зарастают» изнутри и как следствие не придется беспокоиться о том, что такая труба может засориться.</p>
    <p>Для замены труб канализации в квартире, Вам необходимо пригласить специалиста нашей компании на объект где необходимо произвести работы.После осмотра и оценки, Вы сможете узнать точную стоимость работ по замене труб канализации, и договориться о времени проведения ремонтных работ.</p>
    <p>Вызов специалиста нашей компании в черте города Самара, бесплатный.</p>
    <p>Если Вам необходимо произвести работы за пределами города, тогда вызов специалиста будет платный.</p>
    <p>На все выполненные работы мы предоставляем гарантию сроком на 36 месяцев.</p>
    <p>Звоните и заказывайте замену труб канализации в  «Самарской водопроводной компании», и Вы получите качественное исполнение заказа в срок.</p>

{% endblock %}