{% extends '/layout/services.html.twig' %}

{% set id = 6 %}

{% set title = "Установка и замена радиаторов отопления" %}

{% set price = "3 500" %}

{% block text %}

    <p>Звоните мы поможем.</p>
    <p>Самарская Водопроводная Компания работая на рынке сантехнических услуг уже более 7-ми лет, предлагает профессиональную замену и установку радиаторов отопления.</p>
    <p>Мы производим монтаж радиаторов отопления в любое время года (в том числе зимой), все что вам необходимо сделать, это позвонить и оставить заявку по телефону 221-03-39.</p>
    <p>Специалисты нашей компании бесплатно приедут и произведут расчет стоимости работ по замене батарей отопления в вашей квартире, доме или офисе.</p>
    <p>Не знаете какие радиаторы выбрать? Что лучше чугун, биметалл или алюминий?Мы поможем вам сделать правильный выбор исходя из вашей, конкретной ситуации, и произведем установку чугунных, алюминиевых или биметаллических радиаторов отопления.</p>
    <p>Стоимость установки батарей отопления в каждом конкретном случае рассчитывается индивидуально, и зависит от многих факторов.Ориентировочная стоимость установки 1-го радиатора на полипропиленовые трубы составляет около 3 000 руб., на металлические трубы около 4 000 руб.Так же в нашей компании вы можете заказать вынос батарей отопления из стены.На все выполненые работы мы даем гарантию сроком на 36 месяцев.</p>
    <p>Звоните и заказывайте установку радиаторов отопления в Самарскую Водопроводную Компанию и в вашем дому будет всегда тепло и уютно.</p>

{% endblock %}