{% extends '/layout/services.html.twig' %}

{% set id = 7 %}

{% set title = "Замена полотенцесушителя" %}

{% set price = "3 500" %}

{% block text %}

    <p>Самарская Водопроводная Компания» работая на рынке сантехнических услуг уже более 7-ми лет предлагает профессиональную замену и установку полотенцесушителей.</p>
    <p>Мы занимаемся заменой полотенцесушителей в ванных комнатах многоквартирных домов, а так же частных домах.</p>
    <p>Для замены полотенцесушителей в Самаре мы используем современные высококачественные материалы, хорошо зарекомендовавшие себя как в процессе работы, так и в процессе эксплуатации.</p>
    <p>Заказывая установку полотенцесушителя в нашей компании вы делаете выбор в пользу качества, и можете быть уверены что установленное оборудование будет работать в течении многих лет.</p>
    <p>Для заказа услуги достаточно позвонить по телефону 221-03-39 и оставить заявку.Специалисты нашей компании приедут в удобное для Вас время и произведут бесплатный расчет стоимости необходимых работ и посоветуют какое оборудование лучше подойдет в вашей конкретном случае.</p>
    <p>Цена на установку полотенцесушителя может зависить от различных факторов таких как: сложность монтажа, диаметра труб и используемых материалов.Ориентировочная цена на замену полотенцесушителя составляет 3 500 руб.В данную стоимость включены работы по демонтажу старого и монтажу нового полотенцесушителя "под ключ", если Вам необходимо произвести замену полотенцесушителя со стояком стоимость будет порядка 4 400 руб.На все выполненные работы мы предоставляем гарантию сроком на 36 месяцев.</p>
    <p>Звоните и заказывайте замену полотенцесушителя в Самарской Водопроводной Компании» и вы будете уверены в качестве выполненых работ на 100%.</p>

{% endblock %}