{% extends '/layout/services.html.twig' %}

{% set id = 8 %}

{% set title = "Установка инсталяции" %}

{% set price = "3 500" %}

{% block text %}

    <p>Самарская Водопроводная Компания предлагает профессиональную установку инсталяций для унитаза, а так же установку подвесных унитазов в Самаре.Работая на рынке сантехнических услуг уже более 7-ми лет, мы зарекомендовали себя как ответственные исполнители, и предлагаем квалифицированную помощь по любым задачам связанным с установкой сантехнического оборудования.</p>
    <p>Специалисты нашей компании произведут грамотный монтаж инсталяции в вашей квартире, доме или офисе.Если Вы решили произвести установку инсталяции в своем туалете, важно обратить внимание на то, какая инсталяция необходима в вашем конкретном случае.Не стоит покупать первую попавшуюся на глаза инсталяцию по принципу "Какая разница?"Разница может оказаться весьма существенной и в дальнейшем придется или обменивать уже приобретенный товар, или переделывать систему канализации.</p>
    <p>Если у вас нет желания вдаваться в подробности выбора, рекомендуем найти грамотного продавца в магазине, или пригласить специалиста нашей компании, для оценки и расчета стоимости работ.</p>
    <p>Вызов специалиста в черте города Самара - бесплатный, все что необходимо сделать это позвонить по телефону 221-03-39, и оставить заявку на удобное для вас время.Специалисты нашей компании приедут, и бесплатно оценят необходимый объем работ, а так же посоветуют какую инсталяцию лучше приобрести.</p>
    <p>На все выполненные работы мы предоставляем гарантию сроком на 36 месяцев.</p>
    <p>Звоните и заказывайте установку инсталяции для унитаза в Самарской Водопроводной Компании» и ваша сантехника, прослужит вам верой и правдой много лет.</p>

{% endblock %}