{% extends '/layout/services.html.twig' %}

{% set id = 9 %}

{% set title = "Установка ванны" %}

{% set price = "3 500" %}

{% block text %}

    <p>Звоните мы поможем. «Самарская Водопроводная Компания» оказывает услуги по замене и монтажу ванн в САМАРЕ.</p>
    <p>Если вам необходимо произвести установку ванны в квартире, доме или другом помещении, вы можете обратиться за помощью в нашу компанию. Мы производим установку и замену ванн любых типов и фирм производителей.</p>
    <p>Сотрудники нашей компании произведут качественную установку акриловых, чугунных, стальных, пластиковых и металлических ванн, а так же ванн с гидромассажем.</p>
    <p>Работая на рынке сантехнических услуг с 2008 года мы зарекомендовали себя как надежные и ответственные исполнители. На все выполненные работы, мы предоставляем гарантию сроком на 36 месяцев. Для заказа услуги необходимо позвонить по телефону 221-03-39 и оставить заявку. Специалисты нашей компании приедут и оценят стоимость необходимых работ по монтажу ванны.</p>
    <p>Выезд специалиста для оценки и расчета стоимости в черте города Самара бесплатный, если вам требуется произвести работы в пригороде Самары, выезд специалиста будет платный, уточнить стоимость вы сможете по телефону 221-03-39.</p>
    <p>Если у вас остались вопросы вы можете задать их нам по телефону. Звоните и заказывайте установку ванны в  «Самарской Водопроводной Компании», и ваша сантехника будет работать безупречно.</p>

{% endblock %}