{% extends '/layout/base.html.twig' %}
{% import "/components/top.html.twig" as top %}
{% import "/components/components.html.twig" as components %}
{% import "/common/nav.html.twig" as nav %}

{% set pageTitle %}Контакты{% endset %}

{% block body %}

    {{ top.simple({
        "type" : "SimpleHeadingComponent",
        "slideButton" : {
            "exists" : true,
            "caption" : "",
            "url" : "#contact-methods"
        },
        "header" : "Контакты",
        "descriptor" : "",
        "background" : "/backs/contacts.jpg"
    }) }}

    <div class="contact-methods" id="contact-methods">
        <div class="container">
            <div class="row">

                <div class="item col-xs-12 col-sm-6">
                    <div class="item-inner">
                        <h3 class="item-title"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> Связаться по телефону</h3>
                        <div class="item-content">Чтобы связаться с нами по телефону, позвоните нам по телефонам <a href="tel:+79371706888" style="white-space: nowrap;">+7 937 170-6-888</a> и <a href="tel:2210339" style="white-space: nowrap;">(846) 221-03-39</a>.</div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-xs-12 col-sm-6">
                    <div class="item-inner">
                        <h3 class="item-title"><i class="fa fa-envelope-o" aria-hidden="true"></i> Связаться по email</h3>
                        <div class="item-content">Чтобы связаться с нами по электронной почте, пишите на <a href="mailto:xatipoff163@gmail.com">xatipoff163@gmail.com</a></div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-xs-12 col-sm-6">
                    <div class="item-inner">
                        <h3 class="item-title"><i class="fa fa-laptop" aria-hidden="true"></i> Связаться с нами онлайн</h3>
                        <div class="item-content">Чтобы связаться с нами онлайн <a class="scrollto" href="#contact-form">заполните форму ниже</a>.</div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-xs-12 col-sm-6">
                    <div class="item-inner">
                        <h3 class="item-title"><i class="fa fa-building-o" aria-hidden="true"></i> Наш адрес</h3>
                        <div class="item-content">г. Самара, ул. Киевская, 10</div>
                    </div><!--//item-inner-->
                </div><!--//item-->

            </div><!--//row-->
        </div><!--//container-->
    </div><!--//contact-methods-->

    <div class="form-block">
        <form id="contact-form" class="contact-form" method="post" action="/post">
            <h3 class="form-title text-center">Связаться с нами</h3>

            {#{% if not editMode %}#}
            <input type="hidden" name="captions[name]" value="Имя">
            <input type="hidden" name="captions[email]" value="Уmail">
            <input type="hidden" name="captions[message]" value="Сообщение">
            {#{% endif %}#}

            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <label class="sr-only" for="cname">Ваше имя</label>
                    <input type="text" class="form-control" id="cname" name="name" placeholder="Вася" minlength="2" required="" aria-required="true">
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <label class="sr-only" for="cemail">Email</label>
                    <input type="email" class="form-control" id="cemail" name="email" placeholder="vasya@mail.ru" required="" aria-required="true">
                </div>
                <div class="form-group col-xs-12">
                    <label class="sr-only" for="cmessage">Сообщение</label>
                    <textarea class="form-control" id="cmessage" name="message" placeholder="Введите сообщение" rows="12" required="" aria-required="true"></textarea>
                </div>
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-block btn-cta btn-primary">Отправить</button>
                </div>
            </div><!--//row-->
            <div id="form-messages"></div>
        </form><!--//contact-form-->
    </div><!--//form-block-->

{% endblock %}

