{% extends '/layout/base.html.twig' %}
{% import "/components/top.html.twig" as top %}
{% import "/components/components.html.twig" as components %}
{% import "/common/nav.html.twig" as nav %}

{% set pageTitle %}Галерея{% endset %}

{% block body %}

    {{ top.simple({
        "type" : "SimpleHeadingComponent",
        "slideButton" : {
            "exists" : false,
            "caption" : "",
            "url" : ""
        },
        "header" : "Галерея",
        "descriptor" : "",
        "background" : "/backs/wylis-gayvaniloba.jpg"
    }) }}

    <section id="customers-section" class="customers-section section">
        <h2 class="section-title">Наши работы</h2>
        {#<div class="section-intro">Мы предлагаем широкий спектр услуг в сфере водоснабжения.</div>#}
        <div class="container">
            <div class="stories-wrapper row">

                <div class="item item-1 col-xs-12 col-md-6">
                    <div class="item-inner text-center" style="background-image: url(/i/gallery/before-after-1.jpg);">
                        <div class="item-content">
                            <a class="item-link" href="/i/gallery/before-after-1.jpg" data-fancybox="images" data-caption="Замена труб на кухне"></a>
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-1 col-xs-12 col-md-6">
                    <div class="item-inner text-center" style="background-image: url(/i/gallery/before-after-2.jpg);">
                        <div class="item-content">
                            <a class="item-link" href="/i/gallery/before-after-2.jpg" data-fancybox="images" data-caption="Замена труб в ванной 1"></a>
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-1 col-xs-12 col-md-6">
                    <div class="item-inner text-center" style="background-image: url(/i/gallery/before-after-3.jpg);">
                        <div class="item-content">
                            <a class="item-link" href="/i/gallery/before-after-3.jpg" data-fancybox="images" data-caption="Замена труб в ванной 2"></a>
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

            </div><!--//row-->
        </div><!--//container-->
    </section><!--//customers-section-->
{% endblock %}

