{% extends '/layout/base.html.twig' %}
{% import "/components/top.html.twig" as top %}
{% import "/components/components.html.twig" as components %}
{% import "/common/nav.html.twig" as nav %}

{% set pageTitle %}Цены{% endset %}

{% block body %}

    {{ top.simple({
        "type" : "SimpleHeadingComponent",
        "slideButton" : {
            "exists" : true,
            "caption" : "",
            "url" : "#customers-section"
        },
        "header" : "Прайс лист",
        "descriptor" : "Цены на товары и услуги",
        "background" : "/backs/work.jpg"
    }) }}

    <section id="customers-section" class="customers-section section">
        <h2 class="section-title">Цены на услуги</h2>
        {#<div class="section-intro">Мы предлагаем широкий спектр услуг в сфере водоснабжения.</div>#}
        <div class="container">
            <div class="stories-wrapper row">
                <div class="item item-1 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/1.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Замена и монтаж <br>водопровода</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 4500</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-2 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/2.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Замена стояков <br>водоснабжения</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 1500</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-3 col-xs-12 col-md-4 hidden-md hidden-lg">
                    <div class="item-inner text-center" style="background-image: url(/i/services/3.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка <br>счётчиков воды</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 1800</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/4.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка и замена <br>смеситиелей</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 300</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/5.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Замена канализационной <br>разводки (пластик)</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 2000</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/24.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Замена канализационной <br>разводки (чугун)</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 2700</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/23.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Замена канализационного <br>стояка (пластик)</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 3000</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/22.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Замена канализационного <br>стояка (чугун)</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 3500</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/6.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Устновка и замена <br>радиаторов отопления</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 2500</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/7.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Замена <br>полотенцесушителя</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 600</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/8.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка инсталяции<br>(подвесных унитазов)</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 1200</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/19.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка <br>ванны (сталь)</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 800</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/20.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка <br>ванны (чугун)</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 1200</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/9.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка <br>ванны (гидромассаж)</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 1500</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/10.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка <br>унитаза</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 800</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/21.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка <br>биде</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 900</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/11.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка мойки <br>и раковины</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 800</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/13.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка и подключение <br>стиральных машин</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 600</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/14.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка и подключение <br>посудомоечных машин</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 900</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/15.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка <br>водонагревателей</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 800</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/16.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка и сборка <br>душевых кабин</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 2500</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/18.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Установка и сборка <br>душевых панелей</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 1200</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-4 col-xs-12 col-md-4">
                    <div class="item-inner text-center" style="background-image: url(/i/services/17.jpg);">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Сварочные работы</h3>
                            <div class="content-desc">
                                <i class="fa fa-rub" aria-hidden="true"></i>
                                <p>от 1500</p>
                            </div>
                            {#<a class="item-link" href="#"></a>#}
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

            </div><!--//row-->
            {#<div class="action-wrapper text-center">
                <a class="btn btn-secondary" href="stories.html">All Customer Stories</a>
            </div>#}
        </div><!--//container-->
    </section><!--//customers-section-->

{% endblock %}

