.fancybox-slide--iframe .fancybox-content {
    min-height : 60%!important;
}

.btn {
    border-radius: 0;
    padding: 15px 45px;
}

.admin-panel-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.add-component-button-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn.btn-primary {
    border: 1px #efbb20 solid;
}

.editable-buttons .btn.btn-primary i, .editable-buttons .btn.btn-primary i:hover {
    background: none;
    color: inherit;
}

.form-group .editable-buttons .btn i {
    position: inherit;
    top: inherit;
    right: inherit;
    width: inherit;
    left: inherit;
    line-height: inherit;
    margin: inherit;
}

.editableform .editable-input .editable-clear-x {
    top: 28px;
    right: 10px;
}

.editableform .form-control {
    margin-bottom: inherit;
}

.glyphicon {
    font-family: 'Glyphicons Halflings' !important;
}

.features {
    height: 76px;
}

.home-content h2.smaller {
    font-size: 38px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .home-content h2 {
        font-size:30px;
    }
}
@media (max-width: 767px) {
    .home-content h2 {
        font-size: 26px
    }
}