<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-----------------bootstrap------------->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>coming-soon</title>
<!--favicon-->
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.jpg">
<!-----------------Bootstrap-------------->
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="font/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--google font-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<!--flaticon-->
<link href="font/font/flaticon.css" rel="stylesheet" type="text/css">


</head>

<body>
<!--preloader-->
<div id="loading">
  	<div class="loader">
  <div class="duo duo1">
    <div class="dot dot-a"></div>
    <div class="dot dot-b"></div>
  </div>
  <div class="duo duo2">
    <div class="dot dot-a"></div>
    <div class="dot dot-b"></div>
  </div>
</div>
</div>

 
<div class="container-fluid come-soon-bg">
<div class="come-soon-bg-black">
<!--Background-effect-->
<div id="large-header" class="large-header">
     <canvas id="demo-canvas"></canvas>
</div>

<div class="container text-center">
	
    <a href="index.html"><img src="images/logo.png" /></a>
    
    <h2>We’re comming soon..</h2>
    
    <div class="col-md-offset-2 col-md-8">
          <div id="clockdiv"> 
            <!--day-->
            <div class="col-xs-6 col-sm-3 col-md-3"> <span class="days"></span>
              <div class="counter-underline"></div>
              <p class="counter-p">Days</p>
            </div>
            <!--hours-->
            <div class="col-xs-6 col-sm-3 col-md-3"> <span class="hours"></span>
              <div class="counter-underline"></div>
              <p class="counter-p">hours</p>
            </div>
            <!--minutes-->
            <div class="col-xs-6 col-sm-3 col-md-3"> <span class="minutes"></span>
              <div class="counter-underline"></div>
              <p class="counter-p">minutes</p>
            </div>
            <!--second-->
            <div class="col-xs-6 col-sm-3 col-md-3"> <span class="seconds"></span>
              <div class="counter-underline"></div>
              <p class="counter-p">seconds</p>
            </div>
            
            <div class="clearfix"></div>
            
          </div>
        </div><div class="clearfix"></div>
        
    <div class="col-md-offset-2 col-md-8 text-center input-notify">
    	<h4>Notify me</h4>
        
        	<span class="input input--akira">
					<input class="input__field input__field--akira" id="input-22" type="text">
					<label class="input__label input__label--akira" for="input-22">
						<span class="input__label-content input__label-content--akira">Enter Email Address</span>
					</label>
				</span>
                
        	<span class="perspective"><a href="#" class="btn-2 btn-8 btn-8a">SUBSCRIBE</a></span>       
        
    </div> <div class="clearfix"></div>   
    
</div>
</div>
</div>

  


<!---------------Ajax--------------> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<!--background-effect-->
<script src="js/demo-2.js"></script>
<!--input-effect-->
<script src="js/input-effect.js"></script>
<script src="js/coming-soon.js"></script>    
        

      
</body>
</html>
