<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-----------------bootstrap------------->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Elements</title>
<!--favicon-->
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.jpg">
<!-----------------Bootstrap-------------->
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="font/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--google font-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<!--SLIDER-->
<!--mega menu-->
<link rel="stylesheet" type="text/css" href="css/mega_menu.css" />
<!--revolution slider-->
<link rel="stylesheet" type="text/css" href="css/settings.css">
<link rel="stylesheet" type="text/css" href="css/navigation.css">
<!--main style-->
<link rel="stylesheet" type="text/css" href="css/slider.css" />
<!--responsive-->
<link rel="stylesheet" type="text/css" href="css/responsive.css">
<!--flaticon-->
<link href="font/font/flaticon.css" rel="stylesheet" type="text/css">
<!--logo-->
<link rel="stylesheet" href="css/jquery.bxslider.css" type="text/css" />


</head>

<body>
<!--preloader-->
<div id="loading">
  	<div class="loader">
  <div class="duo duo1">
    <div class="dot dot-a"></div>
    <div class="dot dot-b"></div>
  </div>
  <div class="duo duo2">
    <div class="dot dot-a"></div>
    <div class="dot dot-b"></div>
  </div>
</div>
</div>
<!--Back-to-top-->
<div id="back-to-top">
  <a class="top arrow" href="#top"><i class="fa fa-long-arrow-up"></i></a>
</div>
<!--header -->
  <header id="header" class="header"> 
    <!-- mega menu -->
    <div class="menu"> 
      <!-- menu start -->
      <nav id="menu-1" class="mega-menu "> 
        <!-- menu list items container -->
        <section class="menu-list-items">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12"> 
                <!-- menu logo -->
                <ul class="menu-logo">
                  <li class="head-info"> <a href="index.html"> <img id="logo_img" src="images/logo.png" alt="logo"> </a>
                   </li>
                </ul>
                <!-- menu links -->
                <ul class="menu-links">
                  <li> <a class="menu-style menu-li-a" href="javascript:void(0)"> HOME <i class="fa fa-angle-down fa-indicator"></i></a> 
                    <!-- drop down multilevel  -->
                    <ul class="drop-down-multilevel">
                      <li><a class="menu-li-a-drop" href="index.html">Home-Page-Rustic</a></li>
                      <li><a class="menu-li-a-drop" href="index-2.html">Home-Page-Classic</a></li>
                    </ul>
                  </li>
                  
                  <li> <a class="menu-style menu-li-a" href="about-us.html"> ABOUT</a></li>
                  
                  <li> <a class="menu-style menu-li-a" href="bowling.html"> BOWLING</a></li>
                  
                  <li><a class="menu-style menu-li-a" href="fun&games.html"> FUN & GAMES </a></li>
                  
                  <li><a class="menu-style menu-li-a" href="resturant.html"> RESTAURANT</a></li>
                  
                  <li> <a class="menu-style menu-li-a active" href="javascript:void(0)"> PAGES <i class="fa fa-angle-down fa-indicator"></i></a> 
                    <!-- drop down multilevel  -->
                    <ul class="drop-down-multilevel">
                    
                      <li><a class="menu-li-a-drop" href="javascript:void(0)">Gallery<i class="fa fa-angle-right fa-indicator"></i></a> 
                        
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side effect-fade">
                          <li><a class="menu-li-a-drop" href="gallery.html">gallery-2-column</a></li>
                          <li><a class="menu-li-a-drop" href="gallery-3-colum.html">gallery-3-column</a></li>
                          <li><a class="menu-li-a-drop" href="gallery-4-colum.html">gallery-4-column</a></li>
                        </ul>
                        
                      </li><!--gallery-->
                      
                      <li><a class="menu-li-a-drop" href="javascript:void(0)">Event<i class="fa fa-angle-right fa-indicator"></i></a> 
                        
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side effect-fade">
                          <li><a class="menu-li-a-drop" href="event.html">Event</a></li>
                      	  <li><a class="menu-li-a-drop" href="event-detail.html">Event-detail</a></li>
                        </ul>
                        
                      </li><!--event-->
                      
                      <li><a class="menu-li-a-drop" href="javascript:void(0)">Blog<i class="fa fa-angle-right fa-indicator"></i></a> 
                        
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side effect-fade">
                          <li><a class="menu-li-a-drop" href="blog.html">Blog</a></li>
                      	  <li><a class="menu-li-a-drop" href="blog-detail.html">Blog-post</a></li>
                        </ul>
                        
                      </li><!--blog-->
                      
                      <li><a class="menu-li-a-drop" href="javascript:void(0)">Shortcodes<i class="fa fa-angle-right fa-indicator"></i></a> 
                        
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side effect-fade">
                          <li><a class="menu-li-a-drop" href="elements.html">Elements</a></li>
                      	  <li><a class="menu-li-a-drop" href="pricing-table.html">Pricing-table</a></li>
                          <li><a class="menu-li-a-drop" href="typography.html">Typography</a></li>
                      	  <li><a class="menu-li-a-drop" href="call-to-action.html">Call-to-action</a></li>
                          <li><a class="menu-li-a-drop" href="divider.html">Divider</a></li>
                      	  <li><a class="menu-li-a-drop" href="message-box.html">Message-box</a></li>
                        </ul>
                        
                      </li><!--shortcodes-->
                      
                      <li><a class="menu-li-a-drop" href="404-error.html">404 error</a></li>
                      
                      <li><a class="menu-li-a-drop" href="coming-soon.html">Coming soon</a></li>
                      
                    </ul>
                  </li>
                  
                  <li><a class="menu-style menu-li-a" href="contact.html"> CONTACT</a></li>
                  
                  <!--BOOK A TABLE-->
                  <li><a class="menu-book-table-btn btn-bg" href="book-party.html" style="padding:8px 20px; line-height:30px; margin-top:10px; color:#FFF; margin-bottom:8px;">BOOK A PARTY</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </nav>
      <!-- menu end --> 
    </div>
  </header>
  
<div class="container-fluid element-head-bg">
<div class="element-head-bg-black">
<div class="container text-center">
	
    <h2>Elements</h2>
    <span><a href="index.html">HOME &nbsp; ></a> &nbsp;<a href="#">PAGES</a> &nbsp; > ELEMENTS</span>
    
</div>
</div>
</div>

<div class="container-fluid padd-50">
<div class="container">

	<div class="col-md-offset-1 col-md-10 text-center">
    
    	<h2 class="main-title">BUTTONS</h2>
        
        <div class="small-btn">
        	<h3 class="sub-title">Small Buttons</h3>
            <a href="#" class="input-submit">BOOK NOW</a>
            <a class="article-read" href="blog-detail.html">READ MORE</a>
            <a href="#" class="newslatter-submit text-center">KEEP UPDATED</a>
        </div>
        
        <div class="Medium-btn">
        	<h3 class="sub-title">Medium Buttons</h3>
            <a href="contact.html" class="read-more text-center box-3-read-more"><img src="images/read-ball.png" style="margin-top:15px;"><br><span>BOOK<br> NOW</span></a>
            <a href="gallery.html" class="read-more text-center box-1-read-more box-2-read-more" style="margin:0 8px;"><img src="images/read-ball.png" style="margin-top:15px;"><br><span style="color:#FFF;">VIEW<br> GALLERy</span></a>
            <div class="read-more text-center"><a href="about-us.html"><img src="images/read-ball.png" style="margin-top:15px;"><br><span>Read<br> More</span></a></div>
        </div>
        
        <div class="Large-btn">
        	<h3 class="sub-title">Large Buttons</h3>
            <span class="perspective"><a href="bowling.html" class="btn-2 btn-8 btn-8a">READ MORE</a></span>
            <span class="perspective"><a href="bowling.html" class="btn-2 btn-8 btn-8a">BOOK NOW</a></span>
        </div>
        
        <div class="line" style="margin:30px 0;"></div>
        
        <h2 class="main-title">TAB</h2>
        
        <div class="tab-sec text-center">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tabe 1</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tabe 2</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Tabe3</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content text-left">
            <div role="tabpanel" class="tab-pane active" id="home">
            
            	<h2 class="main-title">Horizontal Tabs</h2>
                <p>Sint nostrud proident, iudicem aliqua mentitum officia do non culpa fabulas, de quorum minim a cupidatat. Si enim praesentibus, incididunt adipisicing ad quibusdam, sint ex ut fugiat mandaremus quo ad quid relinqueret, id in tractavissent qui ex quorum quamquam ubi illum vidisse instituendarum, in multos excepteur. Ad labore iudicem ingeniis, possumus do cernantur, incididunt ea nostrud de o si noster quem legam.</p>
            
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
            
            	<h2 class="main-title">Eram laborum philosophari</h2>
                <p>Sint nostrud proident, iudicem aliqua mentitum officia do non culpa fabulas, de quorum minim a cupidatat. Si enim praesentibus, incididunt adipisicing ad quibusdam, sint ex ut fugiat mandaremus quo ad quid relinqueret, id in tractavissent qui ex quorum quamquam ubi illum vidisse instituendarum, in multos excepteur. Ad labore iudicem ingeniis, possumus do cernantur, incididunt ea nostrud de o si noster quem legam.</p>
                <p>Sint mentitum ita eram lorem, nescius esse laborum se aute litteris illustriora, velit fabulas e consequat ut eu quid quamquam firmissimum, varias mentitum imitarentur, deserunt dolore summis cernantur velit de magna an eiusmod do sint</p>
            
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
            
            	<h2 class="main-title">Ubi illum vidisse</h2>
                <p>Eram laborum philosophari si commodo eram cernantur. Expetendis a nisi quo ea laboris eruditionem. Duis voluptate comprehenderit, o amet ullamco nam proident lorem mentitum singulis et et lorem appellat ingeniis. Et elit fidelissimae, ex nisi senserit a an ipsum arbitror proident, tamen tractavissent consequat aute quibusdam</p>
                <p>Sint nostrud proident, iudicem aliqua mentitum officia do non culpa fabulas, de quorum minim a cupidatat. Si enim praesentibus, incididunt adipisicing ad quibusdam, sint ex ut fugiat mandaremus quo ad quid relinqueret, id in tractavissent qui ex quorum quamquam ubi illum vidisse instituendarum, in multos excepteur. Ad labore iudicem ingeniis, possumus do cernantur, incididunt ea nostrud de o si noster quem legam./p>
            
            </div>
          </div>

		</div><div class="clearfix"></div>
        
        <div class="line" style="margin:30px 0;"></div>
        
        <h2 class="main-title">FAQ's</h2>
        
        <div class="col-md-12 text-left faq-sec">
    
    	<div class="accordion" id="section1">Q. VestibulumLorem ipsum dolor sit amet, consectetur  Vestibulum?<span></span></div>
        
            <div class="content"><p class="content-p">Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elementum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentes tempor sem in metus pretium egestas. </p></div>
		
		
        <div class="accordion" id="section1">Q. Curabitur ac tortor ut ipsum egestas elementum Nunc imperdiet gravida mauris?<span></span></div>
        
            <div class="content"><p class="content-p">Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elementum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentes tempor sem in metus pretium egestas. </p></div>
		
        
		<div class="accordion" id="section1">Q. Duis velit augue, condimentum at, ultrices Donec pellentesque egestas eros?<span></span></div>
        
            <div class="content"><p class="content-p">Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elementum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentes tempor sem in metus pretium egestas. </p></div>
		
        
        <div class="accordion" id="section1">Q. Fusce mi pede, tempor id, cursus ac, ullamcorper ne enim Sed tortor Curabitur?<span></span></div>
        
            <div class="content"><p class="content-p">Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elementum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentes tempor sem in metus pretium egestas. </p></div>
		
        
        <div class="accordion" id="section1">Q. Maecenas feugiat consequat diam Maecenas metus Vivamus diam purus?<span></span></div>
        
            <div class="content"><p class="content-p">Morbi eu nisi accumsan, pretium tellus at, ultricies enim. Donec elementum felis ligula, nec volutpat lacus euismod id. Fusce sit amet enim vel mauris hendrerit suscipit nec quis diam. Pellentes tempor sem in metus pretium egestas. </p></div>
		
    
    </div><div class="clearfix"></div>
    
    	<div class="line" style="margin:30px 0;"></div>
        
        <h2 class="main-title">CLIENT</h2>
        
        <div class="col-md-12 client-sld">
        <ul class="bxslider">
          <li><img src="images/Logo/l1.jpg" /></li>
          <li><img src="images/Logo/l2.jpg" /></li>
          <li><img src="images/Logo/l3.jpg" /></li>
          <li><img src="images/Logo/l4.jpg" /></li>
          <li><img src="images/Logo/l5.jpg" /></li>
          <li><img src="images/Logo/l1.jpg" /></li>
          <li><img src="images/Logo/l2.jpg" /></li>
          <li><img src="images/Logo/l3.jpg" /></li>
          <li><img src="images/Logo/l4.jpg" /></li>
          <li><img src="images/Logo/l5.jpg" /></li>
        </ul>
      </div><div class="clearfix"></div>
      
      	<div class="line" style="margin:30px 0;"></div>
        
        <h2 class="main-title">TABLE</h2>
      
      	<div class="col-md-12 element-table text-left">
        <table>
          <tr>
            <th>HEADER 1</th>
            <th>HEADER 2</th>
            <th>HEADER 3</th>
            <th>HEADER 4</th>
          </tr>
          <tr>
            <td>item #1</td>
            <td>Description</td>
            <td>1000 GB</td>
            <td>5 ROW</td>
          </tr>
          <tr>
            <td>item #1</td>
            <td>Description</td>
            <td>1000 GB</td>
            <td>5 ROW</td>
          </tr>
          <tr>
            <td>item #1</td>
            <td>Description</td>
            <td>1000 GB</td>
            <td>5 ROW</td>
          </tr>
          <tr>
            <td>item #1</td>
            <td>Description</td>
            <td>1000 GB</td>
            <td>5 ROW</td>
          </tr>
          <tr>
            <td>item #1</td>
            <td>Description</td>
            <td>1000 GB</td>
            <td>5 ROW</td>
          </tr>
        </table>
      </div>
    
    </div>  
    
    
    <div class="clearfix"></div>
    
</div>
</div> 

<!---------------Contact--------------->
<div class="container-fluid contact-bg">
<div class="container padd-50 contact-container">

	<div class="col-sm-4 col-md-4">
    
    	<h3 class="welc-h3">CONTACT US</h3>
        <span class="testimonial-under" style="width:130px; margin-bottom:10px;"></span>
        
        <div class="location">
        	<i class="flaticon-placeholder" aria-hidden="true"></i>
            <span>B-9223  Your Address Here,<br /> City,Country,987654.</span>
        </div>
        <div class="line"></div>
        <div class="cal">
        	<i class="flaticon-phone-call" aria-hidden="true"></i>
            <span>987.654.BOWL</span>
        </div>
        <div class="line"></div>
        <div class="location">
        	<i class="flaticon-envelope" aria-hidden="true"></i>
            <span>info@bowlingcenter.com</span>
        </div>
        <div class="line"></div>
         <div class="location">
        	<i class="flaticon-clock" aria-hidden="true"></i>
            <span>Sunday: 11am - 10pm<br />
				Monday: Private Events<br />
                Tuesday: 2pm - 10pm<br />
                Wednesday: 2pm - 10pm<br />
                Thursday: 2pm - 10pm<br />
                Friday: 2pm - 12am<br />
                Saturday: 10am - 12am</span>
        </div>
        
    </div>
    
    <div class="col-sm-8 col-md-8">
    	
        	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.8403804264!2d-74.25818923103911!3d40.70583159010092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1488954835672" width="100%" height="450" frameborder="0" style="border:5px solid #FFF; margin-top:20px;" allowfullscreen></iframe>
       
    </div>
    
    <div class="clearfix"></div>
    
</div>
</div> 

<!--------------footer--------------->
<div class="container-fluid padd-50">
<div class="container">

	<div class="col-md-12 text-center"><img src="images/footer-logo.png" /></div>
    <div class="clearfix"></div>
    
    <!---------connect------->
    <div class="col-sm-4 col-md-4 line-top"><img src="images/footer-line.png" class="img-responsive" /></div>
    
    <div class="col-sm-4 col-md-4 text-center" style="margin-top:30px;">
    	<h2 class="welc-h3">LET'S CONNECT</h2>
    </div>
    
   <div class="col-sm-4 col-md-4 line-btm"><img src="images/footer-line.png" class="img-responsive" /></div>
   <div class="clearfix"></div>
   
   <!-------------social----------------->
   <div class="col-md-offset-4 col-md-4 social text-center">
   		<ul>
        	<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
   </div>
   <div class="clearfix"></div>
   
   <!--menu-->
   <div class="col-md-12 foot-menu text-center">
   		<ul>
        	<li><a href="about-us.html">ABOUT US</a></li>
            <li><a href="bowling.html">BOWLING</a></li>
            <li><a href="fun&games.html">FUN & GAMES</a></li>
            <li><a href="gallery-3-colum.html">GALLERY</a></li>
            <li><a href="blog.html">BLOG</a></li>
            <li><a href="event.html">EVENT</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
        </ul>
   </div>
   
   <div class="clearfix"></div>
   
   <div class="col-md-12 text-center footer-theme-color">
   		<p class="footer-p text-uppercase">Copyright © 2016 all Seasons Bowling Center. All rights reserved</p>
        <p class="footer-p text-uppercase">Design by <a href="#">Innovatory Themes</a></p>
   </div>
   
   <div class="clearfix"></div>
    
</div>
</div>  


<!---------------Ajax--------------> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="js/bootstrap.min.js" type="text/javascript"></script>              
<!--faq's-->
<script type="text/javascript" src="js/jquery_accordion.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.accordion').accordion({
	cookieName: 'accordion_nav'
	});
});
</script>
<!--client--> 
<script src="js/jquery.bxslider.min.js"></script> 
<script type="text/javascript">
$('.bxslider').bxSlider({
  minSlides: 2,
  maxSlides: 5,
  slideWidth: 234,
  auto:true
});
</script> 
<!--SLIDER--> 
<!--mega menu--> 
<script type="text/javascript" src="js/mega_menu.js"></script>
<!--REVOLUTION JS FILES-->  
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script> 
<!--custom--> 
<script type="text/javascript" src="js/custom-slider.js"></script>
</body>
</html>
