{% extends '/templates/bowling/structure/head.html.twig' %}

{% import '/common/components/admin.html.twig' as admin %}

{% block body %}

    <div style="padding-top: 150px; padding-bottom: 50px;">
        {{ admin.admin(editMode, allPages, menu, settings) }}
    </div>

{% endblock %}