<!--slider -->
<section class="slider">
    <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="the-The Zayka2" style="margin:0px auto;background-color:transparent; padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
        <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
            <ul>
                <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/slider-2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/templates/bowling/images/slider-2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption  text-orange tp-resizeme  text-center"
                         id="slide-5-layer-1"
                         data-x="center" data-hoffset=""
                         data-y="330"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:50px;opacity:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="font-family:track; z-index: 13; white-space: nowrap; font-size: 60px; line-height: 65px; font-weight: 900;color:#fff;">Bowling, Fun & Food</div>
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption tp-resizeme mo-details-text"
                         id="slide-5-layer-2"
                         data-x="center" data-hoffset=""
                         data-y="410"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; white-space: nowrap; font-size: 24px; letter-spacing:2px; line-height: 24px; font-weight: bold; color: rgba(255, 255, 255, 1.00);text-align:center; text-transform:uppercase">come get your game on today</div>
                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption tp-resizeme mo-sub-title-text"
                         id="slide-5-layer-3"
                         data-x="center" data-hoffset=""
                         data-y="440"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="line-height:20px; font-weight:bold;"> <a style="padding:19px 35px;margin: 18px 0px 18px 5px;" href="contact.html" class="slider-def-btn" data-text="BOOK NOW"><span style="padding-left:0;">BOOK NOW</span></a> <a style="padding:15px 35px; margin:18px 0 18px 5px;" href="about-us.html" class="button button--isi button--round-l" data-text="ABOUT US"><span style="padding-left:0;">ABOUT US</span></a></div>
                </li>
                <li data-index="rs-19" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/templates/bowling/images/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption text-orange tp-resizeme  text-center"
                         id="slide-19-layer-14"
                         data-x="center" data-hoffset=""
                         data-y="330"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:50px;opacity:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="font-family:track; z-index: 13; white-space: nowrap; font-size: 60px; line-height: 65px; font-weight: 900;color:#fff;">Bowlers do it in alleys.</div>
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption tp-resizeme mo-details-text"
                         id="slide-19-layer-13"
                         data-x="center" data-hoffset=""
                         data-y="410"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; white-space: nowrap; font-size: 24px; letter-spacing:2px; line-height: 24px; font-weight: bold; color: rgba(255, 255, 255, 1.00);text-align:center; text-transform:uppercase">We don’t remember days…we remember moments.</div>
                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption tp-resizeme mo-sub-title-text"
                         id="slide-19-layer-12"
                         data-x="center" data-hoffset=""
                         data-y="440"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="line-height:20px; font-weight:bold;"> <a style="padding:19px 35px;margin: 18px 0px 18px 5px;" href="contact.html" class="slider-def-btn" data-text="BOOK NOW"><span style="padding-left:0;">BOOK NOW</span></a> <a style="padding:15px 35px; margin:18px 0 18px 5px;" href="about-us.html" class="button button--isi button--round-l" data-text="ABOUT US"><span style="padding-left:0;">ABOUT US</span></a></div>
                </li>
                <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/slider-3.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/templates/bowling/images/slider-3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYER NR. 5 -->
                    <div id="trigger" class="spacer s0"></div>
                    <div class="tp-caption  text-orange tp-resizeme  text-center"
                         id="slide-5-layer-1"
                         data-x="center" data-hoffset=""
                         data-y="330"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:50px;opacity:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="font-family:track; z-index: 13; white-space: nowrap; font-size: 50px; line-height: 65px; font-weight: 900;color:#fff;">Bowling is fun in your SPARE time.</div>
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption tp-resizeme mo-details-text"
                         id="slide-5-layer-2"
                         data-x="center" data-hoffset=""
                         data-y="410"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 8; white-space: nowrap; font-size: 24px; letter-spacing:2px; line-height: 24px; font-weight: bold; color: rgba(255, 255, 255, 1.00);text-align:center; text-transform:uppercase">Bowling is a sport for people who have talent to spare.</div>
                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption tp-resizeme mo-sub-title-text"
                         id="slide-5-layer-3"
                         data-x="center" data-hoffset=""
                         data-y="440"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-transform_idle="o:1;"
                         data-transform_in="y:-50px;opacity:0;s:2000;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;"
                         data-start="2000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="line-height:20px; font-weight:bold;"> <a style="padding:19px 35px;margin: 18px 0px 18px 5px;" href="contact.html" class="slider-def-btn" data-text="BOOK NOW"><span style="padding-left:0;">BOOK NOW</span></a> <a style="padding:15px 35px; margin:18px 0 18px 5px;" href="about-us.html" class="button button--isi button--round-l" data-text="ABOUT US"><span style="padding-left:0;">ABOUT US</span></a></div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
</section>

<!--Top-->
<div class="container-fluid" style="background-image:url(images/welcome-bg.jpg); background-repeat:no-repeat;">
    <div class="container about-sec">
        <div class="col-md-1"></div>
        <div class="col-md-5 padd-50">
            <h2 class="welc-h2">WELCOME TO</h2>
            <div class="h2-underline"></div>
            <h3 class="welc-h3">The All Seasons<br>
                Bowling Alley.</h3>
        </div>

        <div class="col-md-5 padd-50" style="padding-right:50px;">
            <h2 class="story-h2">Our Story</h2>
            <p class="story-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a ligula in velit aliquam efficitur. Quisque facilisis lectus et justo tempor, quis posuere mi posuere. Aliquam eget est sed  male suada elementum. Ut ultrices ligula vitae egestas.Ut ultrices ligula vitae egestas varius.</p>
            <div class="read-more text-center"><a href="about-us.html"><img src="/templates/bowling/images/read-ball.png"  style="margin-top:15px;"><br /><span>Read<br /> More</span></a></div>
        </div>
        <div class="col-md-1"></div>

        <div class="clearfix"></div>
    </div>


    <div class="container">

        <div class="col-xs-12 col-md-1"></div>

        <div class="col-xs-12 col-md-10 top-sec">


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 box-1 text-center">
                    <h2 class="welc-h2" style="color:#FFF;">Bowling</h2>
                    <p>Lorem ipsum dolor sit amet dipiscing elit.</p>
                    <span class="perspective"><a href="bowling.html" class="btn-2 btn-8 btn-8a">READ MORE</a></span>
                    <img src="/templates/bowling/images/box-1-ball.png" />
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-4" style="padding:0;"><img src="/templates/bowling/images/box-2.jpg" class="img-responsive" /></div>
            </div>

            <div class="row">
                <!--2nd row-->
                <div class="col-xs-12 col-sm-12  col-md-8 box-2 text-center">
                    <h2 class="welc-h2" style="color:#FFF; margin-bottom:15px;">Parties & Events</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit. Sed a ligula in velit..</p><br />
                    <span class="perspective"><a href="contact.html" class="btn-2 btn-8 btn-8a">BOOK NOW</a></span>
                    <img src="/templates/bowling/images/box-2-glas.png" />
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4" style="padding:0;"><img src="/templates/bowling/images/box-3.jpg" class="img-responsive" /></div>
            </div>


        </div>

        <div class="col-xs-12 col-md-1"></div>

        <div class="clearfix"></div>

    </div>

</div>

<!--book-row-->
<div class="container-fluid padd-70">
    <div class="container">

        <div class="col-md-12 text-center"><h2 class="welc-h3" style="margin-bottom:10px;">Get Your Bowling On</h2><span class="testimonial-under"></span></div>
        <div class="clearfix"></div>

        <div class="col-xs-12 col-sm-6 col-md-4 text-center on">
            <div class="block"><i class="flaticon-birthday-cake hovicon effect-3 sub-b"></i></div>
            <h3 class="welc-h3" style="color:#262b2a; margin-bottom:10px;">BOOK A PARTY</h3>
            <span class="h3-underline"></span>
            <p class="story-p" style="margin-top:10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a ligula in velit.</p>
            <a href="contact.html" class="read-more text-center box-3-read-more"><img src="/templates/bowling/images/read-ball.png" / style="margin-top:15px;"><br /><span>BOOK<br /> NOW</span></a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 text-center on border">
            <div class="block"><i class="flaticon-bowling-pin hovicon effect-3 sub-b"></i></div>
            <h3 class="welc-h3" style="color:#262b2a; margin-bottom:10px;">BOOK A LANE</h3>
            <span class="h3-underline"></span>
            <p class="story-p" style="margin-top:10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a ligula in velit.</p>
            <a  href="contact.html" class="read-more text-center box-1-read-more"><img src="/templates/bowling/images/read-ball.png" / style="margin-top:15px;"><br /><span>BOOK<br /> NOW</span></a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 text-center on">
            <div class="block"><i class="flaticon-gallery hovicon effect-3 sub-b"></i></div>
            <h3 class="welc-h3" style="color:#262b2a; margin-bottom:10px;">VIEW GALLERY</h3>
            <span class="h3-underline"></span>
            <p class="story-p" style="margin-top:10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a ligula in velit.</p>
            <a href="gallery.html" class="read-more text-center box-1-read-more box-2-read-more"><img src="/templates/bowling/images/read-ball.png" / style="margin-top:15px;"><br /><span style="color:#FFF;">VIEW<br /> GALLERy</span></a>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<!--advt-slider-->
<div class="container-fluid center-right advt-slider">
    <div class="center-right-black padd-50">
        <div class="container">

            <div class="col-md-12 text-center">
                <h2 class="welc-h3" style="color:#FFF; margin-bottom:0;">LATEST EVENTS</h2>
                <span class="contact-underline"></span>
            </div>

            <div class="col-md-offset-2 col-md-8">

                <div id="advtslider" class="owl-carousel">
                    <div class="testimonial">
                        <img src="/templates/bowling/images/advt-1.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="testimonial">
                        <img src="/templates/bowling/images/advt-2.jpg" class="img-responsive" alt="">
                    </div>

                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--testimonial-->
<div class="container-fluid padd-50"  style="background-image:url(images/welcome-bg.jpg); background-repeat:no-repeat;">

    <div class="container">

        <div class="col-md-12 text-center">
            <h2 class="welc-h3">TESTIMONIALS</h2>
            <span class="testimonial-under"></span>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="/templates/bowling/images/testimonial-1.jpg" alt="">
                        </div>

                        <p class="description">
                            “Pellentesque congue nisi quis nisi ullamcorper sollicitudin. Duis hendrerit, magna ornare dapibus, nulla ipsum iaculis nisl, a malesuada arcu quam ut dolor. Fusce dolor erat, eget lobortis eget, hendrerit vel turpis. Mauris accumsan at nibh a lacinia. dit mauris quam, nec commodo dui tincidunt in”
                        </p>
                        <h3 class="testimonial-title"> - Natasha Mascara</h3>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="/templates/bowling/images/testimonial-2.jpg" alt="">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
                        </p>
                        <h3 class="testimonial-title"> - Lucius Cashmere</h3>
                    </div>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="/templates/bowling/images/testimonial-3.jpg" alt="">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
                        </p>
                        <h3 class="testimonial-title"> - Jesse Phoenix</h3>
                    </div>

                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="clearfix"></div>

        </div>
    </div>

</div>

<!--Gallery-slider-->
<div class="container-fluid" style="padding:0;">
    <ul class="bxslider">
        <li><img src="/templates/bowling/images/gallery-1.jpg" /></li>
        <li><img src="/templates/bowling/images/gallery-6.jpg" /></li>
        <li><img src="/templates/bowling/images/gallery-2.jpg" /></li>
        <li><img src="/templates/bowling/images/gallery-3.jpg" /></li>
        <li><img src="/templates/bowling/images/gallery-4.jpg" /></li>
        <li><img src="/templates/bowling/images/gallery-5.jpg" /></li>
        <li><img src="/templates/bowling/images/gallery-1.jpg" /></li>
        <li><img src="/templates/bowling/images/gallery-3.jpg" /></li>
    </ul>
</div>

<!--Book party-->
<div class="container-fluid paralex">
    <div class="container">

        <div class="col-md-12 text-center">
            <h2 class="welc-h3" style="color:#FFF; margin-bottom:0;">BOOK A PARTY</h2>
            <span class="contact-underline"></span>
            <p>Let, consectetur adipiscing elit. Vestibu lum porttitor egestas orci, vitae ullamcorper risus consett velit vestibulum, rutru.</p>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-2"></div>

        <div class="col-md-8" style="margin-top:20px;">

            <div class="col-sm-6 col-md-6 input-top">
                <input type="text" placeholder="First Name" class="input-box">
            </div>
            <div class="col-sm-6 col-md-6 input-top">
                <input type="text" placeholder="Last Name" class="input-box">
            </div>
            <div class="clearfix"></div>

            <div class="col-sm-6 col-md-6 input-top">
                <input type="email" placeholder="Enter Your Email" class="input-box">
            </div>
            <div class="col-sm-6 col-md-6 input-top">
                <input type="tel" placeholder="Enter Your Phone" class="input-box">
            </div>
            <div class="clearfix"></div>

            <div class="col-sm-6 col-md-6 input-top">
                <input id="example1" class="date-pick input-box" placeholder="Date" type="text">
            </div>
            <div class="col-sm-6 col-md-6 input-top">
                <input type="number" placeholder="Anticipated Number of People" class="input-box">
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 input-top">
                <textarea placeholder="Message" class="input-message"></textarea>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 text-center input-top">
                <a href="#" class="input-submit">SUBMIT</a>
            </div>

        </div>

        <div class="col-md-2"></div>

        <div class="clearfix"></div>

    </div>
</div>

<!--Newslatter-->
<div class="container-fluid newslatter-bg">
    <div class="container">

        <div class="col-md-12 text-center">
            <h3 class="welc-h3" style="color:#fff;">Sign up for newsletter</h3>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-1"></div>

        <div class="col-md-10">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5 input-top newslatter-btm">
                <input type="email" placeholder="Enter Your Name" class="input-box">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 input-top newslatter-btm">
                <input type="email" placeholder="Enter Your Email" class="input-box">
            </div>

            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-offset-0 col-md-3 col-lg-2 input-top newslatter-btm" style="padding:0 5px;">
                <a href="#" class="newslatter-submit text-center">KEEP UPDATED</a>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="col-md-1"></div>

        <div class="clearfix"></div>

    </div>
</div>

<!--Contact-->
<div class="container-fluid contact-bg">
    <div class="container padd-50 contact-container">

        <div class="col-sm-4 col-md-4">

            <h3 class="welc-h3">CONTACT US</h3>
            <span class="testimonial-under" style="width:130px; margin-bottom:10px;"></span>

            <div class="location">
                <i class="flaticon-placeholder" aria-hidden="true"></i>
                <span>B-9223  Your Address Here,<br /> City,Country,987654.</span>
            </div>
            <div class="line"></div>
            <div class="cal">
                <i class="flaticon-phone-call" aria-hidden="true"></i>
                <span>987.654.BOWL</span>
            </div>
            <div class="line"></div>
            <div class="location">
                <i class="flaticon-envelope" aria-hidden="true"></i>
                <span>info@bowlingcenter.com</span>
            </div>
            <div class="line"></div>
            <div class="location">
                <i class="flaticon-clock" aria-hidden="true"></i>
                <span>Sunday: 11am - 10pm<br />
				Monday: Private Events<br />
                Tuesday: 2pm - 10pm<br />
                Wednesday: 2pm - 10pm<br />
                Thursday: 2pm - 10pm<br />
                Friday: 2pm - 12am<br />
                Saturday: 10am - 12am</span>
            </div>

        </div>

        <div class="col-sm-8 col-md-8">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.8403804264!2d-74.25818923103911!3d40.70583159010092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1488954835672" width="100%" height="450" frameborder="0" style="border:5px solid #FFF; margin-top:20px;" allowfullscreen></iframe>

        </div>

        <div class="clearfix"></div>

    </div>
</div>