{% extends '/templates/startup-kit/structure/base.html.twig' %}
{% import "/data.html.twig" as data %}

{% set pageTitle %}{{ page.title | raw }}{% endset %}

{% block stylesheets %}
    {% if editMode %}
        <link href="/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
        <link href="/plugins/edit-tools/edit-tools.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if editMode %}
        <script src="/plugins/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <script src="/plugins/bootstrap3-editable/js/link-editable.js"></script>
        <script src="/plugins/edit-tools/edit-tools.js"></script>
        <script src="/templates/startup-kit/js/demo/style-switcher.js"></script>
    {% endif %}

    <!-- Vimeo video API -->
    <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script type="text/javascript" src="/templates/startup-kit/js/vimeo.js"></script>

{% endblock %}

{% block pageSettings %}

    {% if editMode %}
        {#<div id="config-panel" class="config-panel d-none d-md-block">
            <div class="panel-inner">
                <a id="config-trigger" class="config-trigger config-panel-hide" href="#"><i class="fa fa-cog"></i></a>
                <h5 class="panel-title">Изменить title страницы</h5>
                {{ data.text(page.title, page.slug, 'title', editMode) }}
                <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
            </div><!--//panel-inner-->
        </div><!--//configure-panel-->#}
    {% endif %}

{% endblock %}

