{% extends '/templates/startup-kit/structure/base.html.twig' %}
{% import "/data.html.twig" as data %}

{% set pageTitle %}{{ page.title | raw }}{% endset %}

{% block stylesheets %}
    {% if editMode %}
        <link href="/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
        <link href="/plugins/edit-tools/edit-tools.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if editMode %}
        <script src="/plugins/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <script src="/plugins/bootstrap3-editable/js/link-editable.js"></script>
        <script src="/plugins/edit-tools/edit-tools.js"></script>
        <script src="/templates/startup-kit/js/demo/style-switcher.js"></script>
    {% endif %}

    <!-- Vimeo video API -->
    <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script type="text/javascript" src="/templates/startup-kit/js/vimeo.js"></script>

{% endblock %}

{% block pageSettings %}

    {% if editMode %}

        <div class="modal fade" id="delete-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Удаление элемента</h4>
                    </div>
                    <div class="modal-body">
                        Уверены, что хотите удалить этот элемент?
                    </div>
                    <div class="modal-footer">
                        <a href="" type="button" class="btn btn-theme btn-primary" id="item-delete-button">Да</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

